
{% extends 'places/base.html' %}
{% block 'body' %}
{% load widget_tweaks %}

<div class="container">
<h2>register !</h2>



<form method="POST" action="{% url 'register' %}"> 
{% csrf_token %}
<!--{{ bookform.as_p }}-->
{% for field in form %}
<div class ="form-group">
{{ field.errors }}
{{ field.label }}
{% render_field field class="form-control" %}

{% endfor %}
</div>
<input type="submit",value="submit" >
<br><br>
{{ note }}
<br><br>

</form>
<form action="{% url 'login' %}">
    <input type="submit" value="Login">
</form>

<!--<br><br>
<h4>Wannna hang out with friends</h4>

<form action="{% url 'orders' %}" method="get"> 
{{ multiple_form }}
<input type="submit" value="Book">
</form>
</div>
{% endblock %}-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->








